CONFIG_IDF_TARGET="esp32s3"

# Common defaults for the LWM2M example
CONFIG_COAP_MBEDTLS_PSK=y
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y

# DTLS support (required by CoAP/LWM2M)
CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
CONFIG_MBEDTLS_SSL_COOKIE_C=y

# PSK support in mbedTLS (required for DTLS-PSK)
CONFIG_ESP_TLS_PSK_VERIFICATION=y
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK=y

# CoAP wrapper defaults
CONFIG_WB_COAP_TASK_STACK_SIZE=8192
CONFIG_WB_COAP_TASK_PRIORITY=5
CONFIG_WB_COAP_REQUEST_QUEUE_SIZE=8

# lwIP
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y